@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: auto;
}
section {
  max-width: 90rem;
  margin: auto;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  width: 100vw;
  max-width: 90rem;
  height: 5rem;
  flex-shrink: 0;
  margin: auto;
  padding: 0 5rem;
}
.logo {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-img {
  width: 3.125rem;
  height: 3.125rem;
}
.logo {
  display: flex;
  flex-direction: row;
}
.nav-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.search-input {
  font-family: DM Sans;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border: none;
  background-color: transparent;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: #fff;
  border: none;
  outline: none;
}
.search {
  align-items: center;
  display: flex;
}
nav form {
  color: #fff;
  display: flex;
  width: 32.8125rem;
  padding: 0.375rem 0.625rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.375rem;
  border: 2px solid #d1d5db;
}
.menu {
  display: inline-flex;
  align-items: center;
  gap: 1.6875rem;
}
.menu p {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.menu button {
  width: 2.25rem;
  height: 2.25rem;
}

/* HERO */
.landing {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/poster.jpeg), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center 55%;
  width: 100vw;
  /* overflow: hidden; */
}
.hero {
  height: 71vh;
  width: 100vw;
  max-width: 90rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 5rem;
  padding-inline-end: 1.5rem;
}
.hero-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: DM Sans;
  color: #fff;
  width: 25.25rem;
  height: 17.18rem;
}
.hero-info p {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  width: 25.25rem;
}
.ratings {
  width: 11.5rem;
  height: 1.0625rem;
}
.imdb span {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
  padding-right: 2rem;
}
.imdb img {
  width: 2.1875rem;
  height: 1.0625rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray 50%;
}
.imdb {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
}
.rt span {
  font-family: DM Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
}
.rt img {
  width: 1rem;
  height: 1.0625rem;
  object-fit: cover;
  background-color: lightgray 50%;
}
.rt {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
}
.hero-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  width: 18.875rem;
}
.trailer img {
  width: 1.25rem;
  height: 1.25rem;
}
.trailer p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.trailer {
  display: flex;
  padding: 0.375rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background: #be123c;
  width: 10.6rem;
  height: 2.25rem;
}
.pagination-box {
  width: 2.25rem;
  height: 6.875rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
.pagination p {
  color: #9ca3af;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
}
.rect {
  width: 1.25rem;
  height: 0.1875rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background: #fff;
}

/* MOVIES */

.title {
  display: flex;
  width: 100vw;
  max-width: 90rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-inline: 5rem;
}
.title h5 {
  color: #000;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}
.more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.more p {
  color: #be123c;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.more img {
  width: 1.25rem;
  height: 1.25rem;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  font-family: "DM Sans", sans-serif;
  padding-inline: 5rem;
}
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  position: relative;
}
.card-poster {
  width: 15.625rem;
  height: 23.125rem;
}
.card-poster img {
  width: 15.625rem;
  height: 23.125rem;
  flex-shrink: 0;
  object-fit: cover;
}
.movie-rating {
  display: flex;
  width: 1.875rem;
  height: 1.82569rem;
  flex-shrink: 0;
  position: absolute;
  top: 3%;
  left: 80%;
}
/* .movie-rating :nth-child(1) {
  display: flex;
  padding: 0.1875rem 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.625rem;
} */
/* .movie-rating :nth-child(2) {
  width: 1.875rem;
  height: 1.82569rem;
  flex-shrink: 0;
} */
.movie-rating-text :nth-child(1) {
  color: #9ca3af;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
}
.movie-rating-text :nth-child(2) {
  color: #111827;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.movie-rating-text p {
  color: #111827;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
}
.imdb-rt {
  display: flex;
  width: 15.625rem;
  justify-content: space-between;
  align-items: flex-start;
}
.imdb-rating {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.imdb-rating img {
  width: 2.1875rem;
  height: 1.0625rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.imdb-rating p {
  color: #111827;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
}
.rt-rating {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.rt-rating img {
  width: 1rem;
  height: 1.0625rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.rt-rating p {
  color: #111827;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
}
.genre {
  color: #9ca3af;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  margin: auto;
  width: 6rem;
  height: 6rem;
  border: 5px solid #be123c;
  border-radius: 50%;
  border-top-color: black;
  animation: spinner 0.6s linear infinite;
}


/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;
  padding-bottom: 3rem;
  padding-top: 6rem;
}
.social {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.links {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.links p {
  color: #111827;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.copyright {
  color: #6b7280;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}

